<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/styles/dashboard.css">
    <title>DashBoard</title>
  </head>
  <body>
  <div class="sideBar">
<img src="" alt="">
<ul>


    <li> <a href="#">Donec nec enim</a></li>
    <li><a href="#">Curabitur malesuada</a></li>
    <li><a href="#">Praesent eget quam</a></li>
    <li><a href="#">Maecenas in risus sed</a></li>
    <li><a href="#">Profile</a></li>
    <li><a href="#">Courses </a></li>
</ul>
  </div>
  <section class="section">

    <div id="content">

    		<!--<div class="one">1</div>
    		<div class="two">2</div>
    		<div class="three">3</div>
    		<div class="four">4</div>
    		<div class="five">5</div>
    		<div class="six">6</div>
        <div class="seven">7</div>
        <div class="eight">8</div>
        <div class="nine">9</div>
        <div class="ten">10</div>
        <div class="eleven">11</div>
        <div class="twelve">12</div>
        <div class="thirteen">13</div>
        <div class="fourteen">14</div>
        <div class="fifteen">15</div>
        <div class="sixteen">16</div>
    	</div>

<!--<div class="library tm-gallery-container">
   <div class="row"> -->
        <div class="grid-item-one"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-23-01.jpg" alt="Image"></div>
        <div class="grid-item-two"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-01.jpg" alt="Image"></div>
        <div class="grid-item-three"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-12-01.jpg" alt="Image"></div>
        <div class="grid-item-four"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-02.jpg" alt="Image"></div>
        <div class="grid-item-five"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-12-02.jpg" alt="Image"></div>
        <div class="grid-item-six"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-23-02.jpg" alt="Image"></div>
        <div class="grid-item-seven"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-03.jpg" alt="Image"></div>
        <div class="grid-item-eight"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-23-03.jpg" alt="Image"></div>
        <div class="grid-item-nine"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-04.jpg" alt="Image"></div>
        <div class="grid-item-ten"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-05.jpg" alt="Image"></div>
        <div class="grid-item-eleven"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-12-03.jpg" alt="Image"></div>
        <div class="grid-item-twelve"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-12-04.jpg" alt="Image"></div>
        <div class="grid-item-thirteen"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-06.jpg" alt="Image"></div>
        <div class="grid-item-fourteen"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-23-04.jpg" alt="Image"></div>
        <div class="grid-item-fifteen"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-11-07.jpg" alt="Image"></div>
        <div class="grid-item-sixteen"><img src="C:/Users/User/Desktop/layout/SchoolManagementSystem/public/images/gallery-img-23-05.jpg" alt="Image"></div>
   </div>
<!-- </div> -->
    <footer>
      <div class="pagination">
      <a href="#">&laquo;</a>
      <a href="#">1</a>
      <a href="#">2</a>
      <a href="#">3</a>
      <a href="#">4</a>
      <a href="#">5</a>
      <a href="#">6</a>
      <a href="#">&raquo;</a>
    </div>
    </footer>
    </section>
  </body>
</html>
